pymongo
chainlit
langchain
langgraph
langchain_core
langchain_openai
langchain_cohere
langchain_groq
qdrant-client
sentence-transformers
transformers
google
google-genai
langchain-google-genai
langchain-qdrant
anthropic
langchain-anthropic
openai-whisper
faster-whisper
soundfile
librosa
torchaudio
openai
mistralai
langchain_mistralai
PyPDF2
pyttsx3
asyncpg